<article>
  <form action="/" method="POST">
    <input type="text" id="searchElement" name="searchQuery" placeholder="Search free photos">
    <button type="submit" type="submit" > </button>
  </form>
</article>