<article>
  <ul>
    <li>
      <strong> {{data.views}}</strong>
        views
    </li>
    <li>
      <strong>{{data.downloads}}</strong> 
      downloads
    </li>
    <li>
      <strong>{{data.likes}}</strong> 
      likes
    </li>
  </ul>
</article>
