<%- include('./partials/head'); %>
<body>
    <section>
        <a href="/">Choose other movie</a>
        <h2>Detailpage</h2>
        <p id="description"><%= filtermovie.description %></p>
        <p id="director"><%= filtermovie.director %></p>
        <p id="release_date"><%= filtermovie.release_date %></p>
    </section>
</body>
</html>