<body class="editorPage">
  <header>
    <a href="/">Back</a>
    <article>
      <div id="imgInfo">
        <article id="imageInfo"></article>
      </div>
      <div id="fileInfo">
        <article id="fileInfo">
          <button>Download Image</button>
          <button>Save to profile</button>
        </article>

      </div>
    </article>
  </header>

  <main>
    <img src="{{data.urls.full}}" alt="">
    
  </main>
</body>