<body class="editorPage">
  {{>components/header}}

  <main>
    <section>
      {{>components/editor/user}}
    </section>

    <section>
      {{>components/editor/img}}
    </section>

    <section>
      {{>components/editor/stats}}
    </section>

    <section>
      {{>components/editor/recommended}}
    </section>
    
  </main>
</body>