<body class="editorPage">
  {{>components/header}}

  <main>
    <div>
      <section>
        {{>components/editor/user}}
      </section>

      <section>
        {{>components/editor/img}}
      </section>

      <section>
        {{>components/editor/stats}}
      </section>
    </div>

    <section>
      {{>components/editor/recommended}}
    </section>
    
  </main>
</body>