<%- include('./partials/head'); %>
<body>
    <% movies.forEach(movie.id => { %>
        <div class="card">
            <h1><%= movie.description %></h1>
        </div>    
        </a>
    <% }) %>
</body>
</html>