<%- include('./partials/head'); %>
<body>
    <div class="images">
    <img src="https://hips.hearstapps.com/harpersbazaaruk.cdnds.net/16/42/1476866155-studioghibli-rexfeatures-5885275ah.jpg?crop=0.667xw:1.00xh;0.0459xw,0&resize=480:*"/>
    <img src="https://image-cdn.hypb.st/https%3A%2F%2Fhypebeast.com%2Fimage%2F2020%2F03%2Fstudio-ghibli-movies-coming-netflix-april-1-2020-twtr.jpg?w=960&cbr=1&q=90&fit=max"/>
    <img src="http://images.summitmedia-digital.com/spotph/images/2020/06/29/ghiblimoviesmi-1593428533.jpg"/>
    </div>
    <a href="/movies">MOVIES</a>
    <a href="/people">PEOPLE</a>
</body>