

<body class="homePage">
  <header>
    <h1>PhotoPaint</h1>
    <article>
      <input type="text" id="searchElement" placeholder="Search free photos">
    </article>
  </header>

  <main>

  </main>

  <footer>
    <a href="/profile"></a>
  </footer>

  <h1>Example App: Home</h1>

  {{> heading1 }}
  {{> test/heading2 }}


</body>