<%- include('./partials/head'); %>
<body>
    <% people.forEach(people => { %>
       <a href="/people/<%= people.name %>">
        <div class="card">
            <h1><%= people.name %></h1>
        </div>    
        </a>
    <% }) %>
</body>
</html>
