<%- include('./partials/head'); %>
<body>
    <section>
        <a href="/">Return to homepage</a>
        <h2>People information</h2>
        <div class="gender"><p>gender</p>
            <%= filterpeople.gender %>
        </div>
        <div class="age"><p>age</p>
            <%= filterpeople.age %>
        </div>
        <div class="eye_color"><p>eye color</p>
            <%= filterpeople.eye_color %>
        </div>
    </section>
</body>
</html>