@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --backgroundColor: #1a1f2b;
    --red: #f63f63;
    --gray: #F4F4F4;
    --wit: #fff;
    --gradient: linear-gradient(to right, #1a1f2b, #1a1f2b);
    --zwart: #111;
    --roze: #f63f63
}

.banner {
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: 0.5s;
}

.banner video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text {
    position: relative;
    z-index: 10;
}

.text h2 {
    font-size: 6em;
    font-weight: 800;
    color: var(--wit);
    line-height: 1em;
    text-transform: uppercase;
}

.text h3 {
    font-size: 4em;
    font-weight: 700;
    color: var(--wit);
    line-height: 1em;
    text-transform: uppercase;
}

.text a {
    display: inline-block;
    font-size: 1em;
    background: var(--wit);
    padding: 10px 30px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    margin-top: 10px;
    color: var(--zwart);
    letter-spacing: 2px;
}

.text a:hover {
    background: var(--roze);
    color: white;
}

.overlay {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100vh;
    background: var(--gradient);
    mix-blend-mode: overlay;
}

.swiper-section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--backgroundColor);
    overflow: hidden;
}

.results {
    position: absolute;
    color: var(--wit);
    top: 15vh;
}

.results h3 {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 1.1em;
}


/* Social media icons */

.sci {
    position: absolute;
    bottom: 40px;
    left: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sci li {
    list-style: none;
}

.sci li a {
    display: inline-block;
    margin-left: 15px;
    background: #222;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: 0.2s ease-in-out;
}

.sci li a:hover {
    background: #f63f63;
    transform: translateY(-10px);
}

.sci li img {
    filter: invert(1);
    /* transform: scale(0.2); */
}

.sci li:nth-child(1) a:nth-child(1) img:nth-child(1) {
    height: 40px;
}

section.banner ul li:nth-child(2) a img {
    height: 30px;
}


/* Header */

header {
    /* position: fixed; */
    position: absolute;
    z-index: 9999;
    width: 100%;
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header #logo {
    position: relative;
    max-width: 150px;
}

header .navigation {
    position: relative;
    display: flex;
}

header .navigation li {
    list-style: none;
}

header .navigation li a {
    display: inline-block;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}

.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right {
    background-image: none;
}

.player {
    position: relative;
    background: #f1f3f4;
    box-shadow: 0 50px 80px rgba(0, 0, 0, 0.25);
}

.player .imgBx {
    position: relative;
    width: 100%;
    height: 350px;
}

.player .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.player audio {
    width: 100%;
    outline: none;
    position: absolute;
    bottom: 0;
    background-color: aqua;
}

.swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}


/* .text {
    color: white;
    position: absolute;
    text-align: center;
} */

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 320px;
    background: #d1ebff;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
    filter: blur(4px);
    border-radius: 10px;
}

.swiper-slide-active {
    filter: blur(0px);
    background: #fff;
}

.text__overlay {
    position: absolute;
    height: 90%;
    width: 100%;
    background-color: #1a1f2b;
    color: white;
    display: none;
    text-align: center;
    opacity: 0.9;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 1.1em;
}

.text__overlay h3 {
    max-width: 15em;
}

.player:hover .text__overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.genre,
.app {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: var(--backgroundColor);
}

#overview {
    position: relative;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.container .box {
    position: relative;
    width: 275px;
    height: 275px;
    overflow: hidden;
    transition: 0.5s;
    margin: 0px 0px 5px 5px;
    border-radius: 5px;
}

.container .box:hover {
    z-index: 1;
    transform: scale(1.25);
    box-shadow: 0 25px 40px rgba(0, 0, 0, .5);
}

.container .box .imgBx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.container .box .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container .box .imgBx:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: linear-gradient(180deg, var(--backgroundColor), #000);
    mix-blend-mode: multiply;
    opacity: 0;
    transition: 0.5s;
}

.container .box:hover .imgBx:before {
    opacity: 1;
}

.container .box .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: flex;
    padding: 20px;
    align-items: flex-end;
}

.container .box .content h2 {
    color: #fff;
    transition: 0.5s;
    text-transform: uppercase;
    margin-bottom: 5px;
    font-size: 20px;
    transform: translateY(200px);
}

.container .box:hover .content h2 {
    transform: translateY(0);
    transition-delay: 0.4s;
}

.container .box .content p {
    color: #fff;
    transform: translateY(200px);
    transition: 0.5s;
    font-size: 14px;
}

.container .box:hover .content p {
    transform: translateY(0);
    transition-delay: 0.5s;
}

.absolutediv {
    position: absolute;
    top: 0;
}

.absolutediv h2 {
    color: var(--wit);
    font-size: 4em;
    font-weight: 400;
    line-height: 1em;
    text-transform: uppercase;
}

input[type='text'] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    text-align: center;
    background-color: var(--backgroundColor);
    color: white;
    border: 1px solid var(--red);
    box-shadow: 0 3px 3px -2px var(--backgroundColor), 0 3px 4px 0 var(--backgroundColor), 0 1px 8px 0 var(--backgroundColor), 0 1rem 1rem -.8rem var(--red);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.8rem;
    border-radius: 5px;
}

::placeholder {
    color: white;
    opacity: 0.9;
}

input[type=text]:focus::placeholder {
    color: transparent;
}

input[type=text]:focus {
    outline: none;
}

.margin {
    margin-top: 10rem;
}

.go-back {
    position: absolute;
    top: 3vh;
    left: 5vw;
    text-decoration: none;
    color: white;
    width: 30%;
    letter-spacing: 4px;
    display: block;
    background-repeat: no-repeat;
    outline: 0;
    bottom: 10px;
    padding: 15px 30px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    overflow: hidden;
    transition: .2s;
    margin: 3rem auto 20px;
    color: #000;
    width: auto;
    background-color: var(--red);
    color: #fff;
    border: none;
    height: 5vh;
    box-shadow: 0 3px 3px -2px var(--backgroundColor), 0 3px 4px 0 var(--backgroundColor), 0 1px 8px 0 var(--backgroundColor), 0 1rem 1rem -.8rem var(--red);
    border-radius: 5px;
}

.loader {
    position: absolute;
    /* top: 5vh; */
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
}

footer {
    background-color: var(--backgroundColor);
    color: var(--wit);
    text-align: center;
}

footer div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

footer div p {
    font-size: 1.2rem;
    padding: 10px;
}

footer div a {
    all: unset;
    color: var(--red);
    cursor: pointer;
    text-decoration: none;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .player {
        width: 350px;
    }
}

@media (max-width: 991px) {
    .banner,
    .banner header {
        padding: 20px;
    }
    .text h2 {
        font-size: 3em;
    }
    .text h3 {
        font-size: 2em;
    }
    header {
        padding: 40px;
    }
    header .navigation {
        display: none;
    }
    header .navigation.active {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to left, #1a1f2b, #0a3a34);
        opacity: 0.9;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 10;
    }
    header .navigation li a {
        margin: 10px 0;
        font-size: 1.5em;
        font-weight: 300;
    }
    .toggle {
        position: relative;
        width: 30px;
        height: 30px;
        background: url('../assets/images/menu.png');
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
        z-index: 1000;
    }
    .toggle.active {
        position: fixed;
        right: 40px;
        background: url('../assets/images/close.png');
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
    }
    .margin {
        margin-top: 14rem;
    }
    .overview-header {
        text-align: center;
        font-size: 4em;
        font-weight: 400;
    }
    form {
        display: block;
        text-align: center;
    }
    input[type=text] {
        width: 80%;
    }
    .absolutediv {
        padding: 0rem;
    }
}

#error {
    color: var(--red);
    font-size: 1.2rem;
    margin-top: 2rem;
    background-color: var(--roze);
    padding: 0.8rem 1rem;
    border-radius: 0.5rem;
    color: white;
    opacity: 0.9;
    max-width: 20rem;
}


/* SVG ANIMATION */

#logo {
    width: 150px;
}

#logo,
#loading {
    animation: fill 0.5s ease forwards 3.5s;
}

#loading {
    height: 300px;
    width: 300px;
}

#logo path:nth-child(1),
#loading path:nth-child(1) {
    stroke-dasharray: 137;
    stroke-dashoffset: 137;
    animation: line-animation 2s ease forwards;
}

#logo path:nth-child(2),
#loading path:nth-child(2) {
    stroke-dasharray: 105;
    stroke-dashoffset: 105;
    animation: line-animation 2s ease forwards 0.3s;
}

#logo path:nth-child(3),
#loading path:nth-child(3) {
    stroke-dasharray: 59;
    stroke-dashoffset: 59;
    animation: line-animation 2s ease forwards 0.6s;
}

#logo path:nth-child(4),
#loading path:nth-child(4) {
    stroke-dasharray: 91;
    stroke-dashoffset: 91;
    animation: line-animation 2s ease forwards 0.9s;
}

#logo path:nth-child(5),
#loading path:nth-child(5) {
    stroke-dasharray: 128;
    stroke-dashoffset: 128;
    animation: line-animation 2s ease forwards 1.2s;
}

#logo path:nth-child(6),
#loading path:nth-child(6) {
    stroke-dasharray: 105;
    stroke-dashoffset: 105;
    animation: line-animation 2s ease forwards 1.5s;
}

#logo path:nth-child(7),
#loading path:nth-child(7) {
    stroke-dasharray: 140;
    stroke-dashoffset: 140;
    animation: line-animation 2s ease forwards 1.9s;
}

#logo path:nth-child(8),
#loading path:nth-child(8) {
    stroke-dasharray: 126;
    stroke-dashoffset: 126;
    animation: line-animation 2s ease forwards 2.2s;
}

#logo path:nth-child(9),
#loading path:nth-child(9) {
    stroke-dasharray: 126;
    stroke-dashoffset: 126;
    animation: line-animation 2s ease forwards 2.2s;
}

#logo path:nth-child(10),
#loading path:nth-child(10) {
    stroke-dasharray: 59;
    stroke-dashoffset: 59;
    animation: line-animation 2s ease forwards 2.2s;
}

@keyframes line-animation {
    to {
        stroke-dashoffset: 0;
        stroke: white;
    }
}

@keyframes fill {
    from {
        fill: transparent;
    }
    to {
        fill: white
    }
}