:root {
  --uiBlack: #161617;
  --colorPrimary: #27272f;
  --colorAccent: #ec904c;
  --colorSoftWhite: #f5f5f5;
  --textCol: #edf2ef;
  --textColLabel: #908e9b;
  --textColPrim: #e1dfe9;
  --sizeS1: 0.25rem;
  --sizeS2: 0.375rem;
  --sizeS3: 0.5rem;
  --sizeS4: 0.75rem;
  --sizeM1: 1rem;
  --sizeM2: 1.25rem;
  --sizeM3: 1.5rem;
  --sizeL1: 2rem;
  --sizeL2: 3rem;
  --sizeL3: 4rem;
  font-size: 16px;
}

.editorPage {
  width: unset;
  max-width: unset;
  margin: unset;
}

/**************************************/
/*********    Editor page     *********/
/**************************************/

.editorPage main section {
  width: 100%;
}

.editorPage main section:nth-of-type(1),
.editorPage main section:nth-of-type(3),
.editorPage main section:nth-of-type(4) {
  width: calc(100% - 2rem);
  margin: 0 1rem;
}

.editorPage > main > div {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0 1rem;
}

.editorPage main div section {
  width: 100%;
  height: 100%;
}

/********* Owner information *********/

.editorPage main div section:nth-of-type(1) {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  position: relative;
}

.editorPage main div section:nth-of-type(1) article:nth-of-type(1) {
  display: flex;
  justify-content: center;
  align-items: center;
}

.editorPage main div section:nth-of-type(1) article:nth-of-type(1) img {
  border-radius: 50%;
  margin-right: 0.5rem;
}

.editorPage main div section:nth-of-type(1) article:nth-of-type(1) div h3 {
  font-size: var(--sizeM1);
  font-weight: 700;
}

.editorPage main div section:nth-of-type(1) article:nth-of-type(1) div h4 {
  font-size: var(--sizeS4);
  font-weight: 300;
}

.editorPage main div section:nth-of-type(1) article:nth-of-type(2) {
  display: flex;
  justify-content: center;
  align-items: center;
}

.editorPage main div section:nth-of-type(1) article:nth-of-type(2) button {
  padding: 0.5rem 1rem;
}

/********* Image info *********/

.editorPage main div section:nth-of-type(2) img {
  width: 100%;
  height: auto;
}

/********* Image stats *********/

.editorPage main div section:nth-of-type(3) {
  margin-top: 2rem;
}

.editorPage main div section:nth-of-type(3) article ul {
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.editorPage main div section:nth-of-type(3) article ul li {
  margin: 0.25em 0;
}
/********* Popular images *********/

.editorPage main > section {
  margin-top: 2rem;
}

.editorPage main > section h2 {
  margin-top: 3em;
}

.editorPage main > section > article {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 0.75rem;
  grid-auto-flow: dense;
}

.editorPage main > section > article a:nth-child(2n + 3) {
  grid-row-start: span 2;
}

.editorPage main > section > article a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s;
}

.editorPage main > section > article a {
  width: unset;
}

@media (min-width: 1024px) {
  .editorPage > main > div {
    margin-top: 2em;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto;
  }

  .editorPage > main > div section:nth-of-type(1) {
    grid-column: 2/3;
  }

  .editorPage > main > div section:nth-of-type(2) {
    grid-column: 1/2;
    grid-row: 1/3;
  }

  .editorPage > main > div section:nth-of-type(3) {
    grid-column: 2/3;
  }

  .editorPage main div section:nth-of-type(1) {
    flex-direction: column;
    justify-content: start;
  }

  .editorPage main div section:nth-of-type(1) article:nth-of-type(1),
  .editorPage main div section:nth-of-type(1) article:nth-of-type(2) {
    justify-content: start;
    align-items: flex-start;
  }

  .editorPage main div section:nth-of-type(1) article {
    margin-bottom: 1em;
  }

  .editorPage main div section:nth-of-type(1) article:nth-of-type(1) img {
    height: 75px;
    margin-right: 1em;
  }

  .editorPage main div section:nth-of-type(1) article:nth-of-type(1) div {
    height: 75px;
  }

  .editorPage main div section:nth-of-type(1) article:nth-of-type(1) div h3 {
    font-size: var(--sizeM3);
  }

  .editorPage main div section:nth-of-type(1) article:nth-of-type(1) div h4 {
    font-size: var(--sizeM2);
  }

  .editorPage main div section:nth-of-type(3) article h3 {
    margin-bottom: 2em;
    font-size: var(--sizeM3);
  }

  .editorPage main div section:nth-of-type(3) article ul {
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    margin: 0;
  }

  .editorPage main div section:nth-of-type(3) article ul li {
    justify-content: start;
    align-items: flex-start;
    margin-bottom: 1em;
    font-size: var(--sizeM2);
  }

  .editorPage main div section:nth-of-type(3) article ul li strong {
    font-size: var(--sizeM1);
    margin-top: 0.5em;
  }
}

@media (min-width: 1300px) {
  .editorPage main {
    max-width: 1100px;
    margin: 0 auto;
  }
}

/************* Editor menu ***********/
#filterElem {
  position: absolute;
  z-index: 10;
  top: 65px;
  right: 0;
  width: 230px;
  min-height: 200px;
  background-color: hotpink;
  display: none;
}

#filterElem.active {
  opacity: 1;
  display: grid;
  place-items: center;
}

@media (min-width: 1024px) {
  #filterElem {
    top: 140px;
    right: 0px;
    /* max-width: 228px; */
  }
}
