<article>
  <h3>Statistics:</h3>
  <ul>
    <li>
      Views:
      <strong> {{data.views}}</strong>
    </li>
    <li>
      Downloads:
      <strong>{{data.downloads}}</strong> 
    </li>
    <li>
      Likes: <strong>{{data.likes}}</strong> 
      
    </li>
  </ul>
</article>
