<article>
  <img src="{{data.user.profile_image.small}}" alt="Photo of {{data.user.name}}">
  <div>
    <h3>{{data.user.name}}</h3>
    <h4>{{data.user.total_photos}} Photos</h4>
  </div>
</article>

<article>
  <button id="downloadImage">Download</button>
  <button id="saveImage">Save</button>
</article>
