<body class="editorPage">
  {{>components/header}}

  <main>
    <div>
      <section id="elements">
        {{>components/editor/user}}
      </section>

      <section>
        {{>components/editor/img}}
      </section>

      <section>
        {{>components/editor/stats}}
      </section>
    </div>

    <section>
      {{>components/editor/recommended}}
    </section>
    
  </main>
  
  <script type="module" type="text/javascript" src="{{pageInfo.scripts.script}}"></script>
</body>
