<body class="errorPage">
  <h1>Example App: Error</h1>
  
  <script type="module" type="text/javascript" src="bundle.js"></script>
  <!--   <script type="module" type="text/javascript" src="{{pageInfo.scripts.script}}"></script> -->
</body>
