<body class="homePage">
  
  <header>
    {{> components/home/navBar}}

    {{> components/home/searchBar}}
  </header>

  <main>
    {{>components/home/imageResult}}
  </main>

  <script type="module" type="text/javascript" src="bundle.js"></script>
  <!--   <script type="module" type="text/javascript" src="{{pageInfo.scripts.script}}"></script> -->
</body>

