<body class="profilePage">
  <header>
    <a href="/">back</a>
  </header>

  <main>
    <article>
      <img src="https://images.unsplash.com/flagged/photo-1570612861542-284f4c12e75f?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=1650&amp;q=80" alt="Image of John Doe">
      <h1>John Doe</h1>
      <div>
        <a href="https://www.instagram.com" target="_blank"></a>
        <a href="https://www.twitter.com" target="_blank"></a>
        <a href="https://www.unsplash.com" target="_blank"></a>
      </div>
    </article>

    <article>
      <h2>Saved collection:</h2>
      <button id="removeImages"> </button>
      <div>
        
      </div>
    </article>
  </main>

  <script type="module" type="text/javascript" src="{{pageInfo.scripts.script}}"></script>
</body>