<article>
  <form action="/" method="POST">
    <div>
      <input type="text" id="searchElement" name="searchQuery" placeholder="Search free photos">
      <input value="&#128269;" type="submit">
    </div>
  </form>

  {{#if searchQuery.hasQuery}}
    <h1>{{searchQuery.query}} </h1>
  {{/if}}
</article>