<header class="header">
  <div>
    <a href="/">
      <h1>PhotoPaint</h1>
    </a>

    <form action="/" method="POST">
      <input type="text" id="searchElement" name="searchQuery" placeholder="Search free photos">
      <input value="&#xf002;" type="submit">
    </form>

    <nav>
      <ul>
        <li><a href="/profile"></a></li>
      </ul>
    </nav>
  </div>
</header>