:root {
  --uiBlack: #161617;
  --colorPrimary: #27272f;
  --colorAccent: #ec904c;
  --colorSoftWhite: #f5f5f5;
  --textCol: #edf2ef;
  --textColLabel: #908e9b;
  --textColPrim: #e1dfe9;
  --sizeS1: 0.25rem;
  --sizeS2: 0.375rem;
  --sizeS3: 0.5rem;
  --sizeS4: 0.75rem;
  --sizeM1: 1rem;
  --sizeM2: 1.25rem;
  --sizeM3: 1.5rem;
  --sizeL1: 2rem;
  --sizeL2: 3rem;
  --sizeL3: 4rem;
  font-size: 16px;
}

/*************************************
          Homepage Header
**************************************/

.homePage header {
  margin-bottom: 1em;
}

.homePage header article {
  width: 100%;
}

/********** Navigation *************/

.homePage header article:nth-of-type(1) {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
}

.homePage header article:nth-of-type(1) a {
  color: var(--textCol);
  text-decoration: none;
}

.homePage header article:nth-of-type(1) a h1 {
  font-size: var(--sizeL2);
}

.homePage header article:nth-of-type(1) a:nth-of-type(2) {
  padding: 0.5rem 2rem;
  border-radius: 8px;
  background-color: var(--colorAccent);
  transition: 0.3s;
}
.homePage header article:nth-of-type(1) a:nth-of-type(2):hover {
  transform: scale(1.05);
  backdrop-filter: blur(20px);
  box-shadow: 0px 0px 20px 15px rgba($color: var(--colorAccent), $alpha: 0.3);
}

/********** Search Bar *************/

.homePage header article:nth-of-type(2) {
  height: 250px;
  display: grid;
  place-items: center;
}

.homePage header article:nth-of-type(2) form {
  width: clamp(250px, 70%, 600px);
  margin: 0 auto;
}
.homePage header article:nth-of-type(2) form div {
  width: 80%;
  margin: 0 auto;
  position: relative;
}
.homePage header article:nth-of-type(2) input[type='text'] {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  height: 3em;
  padding: 5px 10px 5px 1em;
  border-radius: 1.5em;
  border: 1px solid grey;
  transition: 0.3s;
}

.homePage header article:nth-of-type(2) input[type='submit'] {
  position: absolute;
  right: 5%;
  height: 3em;
  width: 3em;
  border-radius: 50%;
  border: 1px solid transparent;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: 0.3s;
}

.homePage header article:nth-of-type(2) input[type='text']:focus {
  width: 100%;
  outline: none;
  border: 1.5px solid var(--colorAccent);
}

.homePage
  header
  article:nth-of-type(2)
  input[type='text']:focus
  ~ input[type='submit'] {
  right: 0;
  outline: none;
  border: 1.5px solid var(--colorAccent);
}
/* .homePage header article:nth-of-type(2) input[type='text'] {
  width: clamp(250px, 65%, 550px);
  margin: 0 auto;
  padding: 5px 10px 5px 1em;
  height: 3em;
  border: none;
  border: 1px solid grey;
  border-radius: 1.5em;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.3s;
} */

/* .homePage header article:nth-of-type(2) input[type='text']:focus {
  width: clamp(275px, 75%, 650px);
  border-radius: 1.5em;
  outline: none;
  border: 1.5px solid var(--colorAccent);
  background-color: hotpink;
  z-index: 1000;
  position: absolute;
  right: 0;
  width: 3em;
  height: 3em;
} */

/*************************************
          Homepage Main
**************************************/

.homePage main {
  /* background-color: #fff; */
  /* position: relative; */
  /* width: calc(100% + 2rem); */
  left: -1rem;
  min-height: calc(100vh - 131px);
  border-radius: 16px 16px 0 0;
  /* box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2),
    0 6px 20px 0 rgba(255, 255, 255, 0.19);
  padding: 24px 16px 16px 16px; */
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 0.75rem;
  grid-auto-flow: dense;
}

.homePage main a:first-child {
  grid-column-start: span 2;
}

.homePage main a:nth-child(2n + 3) {
  grid-row-start: span 2;
}
.homePage main a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s;
}
.homePage main a img:hover {
  transform: scale(1.04);
}
/*************************************
            Media Queries
**************************************/

@media screen and (min-width: 700px) {
  .homePage {
    padding: 1em 2em;
  }
  .homePage main {
    padding: 1.5rem;
    grid-template-columns: auto auto auto;
  }
}

@media screen and (min-width: 1200px) {
  .homePage {
    padding: 1em 10vw 0em;
    max-width: 1500px;
    margin: 0 auto;
  }

  .homePage main {
    grid-template-columns: auto auto auto auto;
    padding: 2rem;
    grid-gap: 1.5rem;
  }
}

/* .homePage
  header
  article:nth-of-type(2)
  input[type='text']:focus
  ~ input[type='submit'] {
  right: 0px;
} */

/* .homePage header article:nth-of-type(2) button {
  position: absolute;
  right: -46px;
  top: 0;
  height: 3em;
  width: 3em;
  border-radius: 50%;
}

.homePage header article:nth-of-type(2) button:before {
  content: '\f002';
  display: block;
  font-family: 'FontAwesome';
  font-size: var(--sizeM2);
} */
/* .homePage header article:nth-of-type(2) input[type='text'] {
  width: 80%;
  transition: 0.3s;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.homePage header article:nth-of-type(2) input[type='text']:focus {
  width: 110%;
  max-width: 500px;
  margin: 0 auto;
  border-radius: 1.5em;
  outline: none;
  border: 1.5px solid var(--colorAccent);
}

.homePage header article:nth-of-type(2) input[type='submit'] {
  position: relative;
  padding: 5px 10px 5px 1em;
  top: 0;
  right: 0;
} */

/* .homePage header {
  margin-bottom: 1em;
}

.homePage header h1 {
  margin: 0 0 0.5em 0;
}

.homePage header article {
  width: calc(100%);
  position: relative;
  height: 40px;
}

.homePage header article input[type='text'] {
  width: 100%;
  padding: 5px 10px 5px 1em;
  height: 3em;
  border: none;
  border: 1px solid grey;
  border-radius: 1.5em;
  position: absolute;
  right: 0;
}

.homePage header article input[type='text']:focus {
  border-radius: 1.5em;
  outline: none;
  border: 1.5px solid var(--colorAccent);
}

.homePage header article input[type='submit'] {
  position: absolute;
  top: 0;
  right: 0;
  height: 3em;
  width: 3em;
  outline: none;
  border-radius: 50%;
  background: transparent;
  border: none;
}

.homePage header article input[type='submit']::before {
  content: '\f002';
  font-family: 'FontAwesome';
  font-size: var(--h2);
  padding: 1em 0.7em;
}

.homePage header article input[type='submit']:focus {
  border-radius: 50%;
  outline: none;
  border: 1.5px solid var(--colorAccent);
}

.homePage header p {
  margin: 1em 0;
}

@media screen and (min-width: 600px) {
  .homePage header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .homePage header h1 {
    height: 64px;
    line-height: 2em;
  }

  .homePage header article {
    width: unset;
    height: 64px;
    left: unset;
    display: grid;
    place-items: center;
  }

  .homePage header article input[type='text'] {
    border-radius: 20px;
    width: 225px;
  }

  .homePage header article input[type='text']:focus-within {
    width: 30vw;
    max-width: 500px;
    transition: 0.5s;
  }

  .homePage header article button {
    margin: auto;
    top: 0;
    bottom: 0;
  }

  .homePage header p {
    flex: 0 1 100%;
  }
} */

/*************************************
            Homepage body
**************************************/

/* body {
  padding: 1em 1em 0em 1em;
}
.homePage main {
  background-color: #fff;
  position: relative;
  width: calc(100% + 2rem);
  left: -1rem;
  min-height: calc(100vh - 131px);
  border-radius: 16px 16px 0 0;
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2),
    0 6px 20px 0 rgba(255, 255, 255, 0.19);
  padding: 24px 16px 16px 16px;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1em;
  grid-auto-flow: dense;
}

.homePage main a:first-child {
  grid-column-start: span 2;
}

.homePage main a:nth-child(2n + 3) {
  grid-row-start: span 2;
}
.homePage main a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
} */
