<section class="banner">
    <video src="./assets/video/banner.mp4" muted loop autoplay></video>
    <div class="overlay"></div>
    <div class="text">
        <h3>Music is my passion</h3>
        <a href="#">Learn more about the API</a>
    </div>
    <ul class="sci">
        <li>
            <a href="https://github.com/rowinruizendaal" target="_blank"><img src="./assets/github.svg" alt="Github"></a>
        </li>
        <li>
            <a href="mailto:rowin_ruizendaal@hotmail.com"><img src="./assets/email.svg" alt="email me"></a>
        </li>
    </ul>
</section>