:root {
  --colorPrimary: #27272f;
  --colorAccent: #ec904c;
  --colorSoftWhite: #f5f5f5;
  --textCol: #f5f5f5;
  --textColLabel: #908e9b;
  --textColPrim: #e1dfe9;
  --sizeSm1: 0.25rem;
  --sizeSm2: 0.375rem;
  --sizeSm3: 0.5rem;
  --sizeSm4: 0.75rem;
  --sizeMd1: 1rem;
  --sizeMd2: 1.25rem;
  --sizeMd3: 1.5rem;
  --sizeLg1: 2rem;
  --sizeLg2: 3rem;
  --sizeLg3: 4rem;
  --fontsize: 16px;
}

:root {
  --colorPrimary: #27272f;
  --colorAccent: #ec904c;
  --colorSoftWhite: #f5f5f5;
  --textCol: #f5f5f5;
  --textColLabel: #908e9b;
  --textColPrim: #e1dfe9;
  --sizeSm1: 0.25rem;
  --sizeSm2: 0.375rem;
  --sizeSm3: 0.5rem;
  --sizeSm4: 0.75rem;
  --sizeMd1: 1rem;
  --sizeMd2: 1.25rem;
  --sizeMd3: 1.5rem;
  --sizeLg1: 2rem;
  --sizeLg2: 3rem;
  --sizeLg3: 4rem;
  --fontsize: 16px;
}

/*************************************
              Homepage Header
**************************************/

.homePage header {
  margin-bottom: 1em;
}

.homePage header h1 {
  margin: 0 0 0.5em 0;
}

.homePage header article {
  width: calc(100%);
  position: relative;
  height: 40px;
}

.homePage header article input[type='text'] {
  width: 100%;
  padding: 5px 10px 5px 1em;
  height: 3em;
  border: none;
  border: 1px solid grey;
  border-radius: 1.5em;
  position: absolute;
  right: 0;
}

.homePage header article input[type='text']:focus {
  border-radius: 1.5em;
  outline: none;
  border: 1.5px solid var(--colorAccent);
}

.homePage header article button {
  position: absolute;
  top: 0;
  right: 0;
  height: 3em;
  width: 3em;
  outline: none;
  border-radius: 50%;
  background: transparent;
  border: none;
}

.homePage header article button::before {
  content: '\f002';
  font-family: 'FontAwesome';
  font-size: var(--h2);
  padding: 1em 0.7em;
}

.homePage header article button:focus {
  border-radius: 50%;
  outline: none;
  border: 1.5px solid var(--colorAccent);
}

.homePage header p {
  margin: 1em 0;
}

@media screen and (min-width: 600px) {
  .homePage header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .homePage header h1 {
    height: 64px;
    line-height: 2em;
  }

  .homePage header article {
    width: unset;
    height: 64px;
    left: unset;
    display: grid;
    place-items: center;
  }

  .homePage header article input[type='text'] {
    border-radius: 20px;
    width: 225px;
  }

  .homePage header article input[type='text']:focus-within {
    width: 30vw;
    max-width: 500px;
    transition: 0.5s;
  }

  .homePage header article button {
    margin: auto;
    top: 0;
    bottom: 0;
  }

  .homePage header p {
    flex: 0 1 100%;
  }
}

/*************************************
            Homepage body
**************************************/

body {
  padding: 1em 1em 0em 1em;
}
.homePage main {
  background-color: #fff;
  position: relative;
  width: calc(100% + 2rem);
  left: -1rem;
  min-height: calc(100vh - 131px);
  border-radius: 16px 16px 0 0;
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2),
    0 6px 20px 0 rgba(255, 255, 255, 0.19);
  padding: 24px 16px 16px 16px;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1em;
  grid-auto-flow: dense;
}

.homePage main a:first-child {
  grid-column-start: span 2;
  /* grid-row-start: span 2; */
}

.homePage main a:nth-child(2n + 3) {
  grid-row-start: span 2;
}
.homePage main a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

/*************************************
            Media Queries
**************************************/

@media screen and (min-width: 700px) {
  .homePage {
    padding: 1em 2em;
  }
  .homePage main {
    padding: 2rem;
    grid-template-columns: auto auto auto;
  }
}

@media screen and (min-width: 1200px) {
  .homePage {
    padding: 1em 10vw 0em;
    max-width: 1500px;
    margin: 0 auto;
  }

  .homePage main {
    grid-template-columns: auto auto auto auto;
    padding: 32px 48px;
    grid-gap: 1.5rem;
  }
}
