<section class="app" id="overview">
    <div class="absolutediv">
        <h2 class="overview-header">Featured artists</h2>
        <form action="">
            <label for="">
                <input type="text" placeholder="Search on any artist of your choice">
            </label>
        </form>
    </div>
    <div class="container margin">
        <% data.forEach(function(data) { %>
            <article class="container">
                <a href="/artist/<%= data.artist.name %>">
                    <div class="box">
                        <div class="imgBx">
                            <img src="<%= data.artist.picture_medium %>">
                        </div>
                        <div class="content">
                            <div>
                                <h2>
                                    <%= data.artist.name %>
                                </h2>
                                <p>
                                    <%= data.type %>
                                </p>
                            </div>
                        </div>
                </a>
            </article>
            <% }) %>
                </div>
</section>
</section>