  <header>
    <h1>PhotoPaint</h1>

    <article>
      <form action="/" method="POST">
        <input type="text" id="searchElement" name="searchQuery" placeholder="Search free photos">
        <input type="submit" value="send">
      </form>
    </article>
  </header>